body {
    margin: 0;
    background: #f3f3f3;
    font-family: Arial, sans-serif;
}

/* Footer */
.footer {
    background: #13141f;
    color: #dcdcdc;
    padding: 60px 80px 30px 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* About */
.footer-about {
    width: 30%;
}

.footer-about img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.footer-about p {
    font-size: 14px;
    line-height: 20px;
}

/* Links */
.footer-links, .footer-services {
    width: 18%;
}

.footer-links h3,
.footer-services h3,
.footer-news h3 {
    margin-bottom: 15px;
    font-size: 16px;
    border-bottom: 1px solid #777;
    padding-bottom: 5px;
}

.footer-links ul,
.footer-services ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li,
.footer-services li {
    margin: 8px 0;
    font-size: 14px;
    cursor: pointer;
}

.footer-links li:hover,
.footer-services li:hover {
    color: white;
}

/* Newsletter */
.footer-news {
    width: 22%;
}

.input-box {
    border-bottom: 1px solid #777;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 85%;
    background: none;
    border: none;
    outline: none;
    color: #fff;
}

.input-box button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.socials {
    margin-top: 20px;
}

.socials a {
    color: #dcdcdc;
    background: #2a2c3c;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

.socials a:hover {
    background: #ffffff;
    color: #13141f;
}

/* Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #aaa;
}

/* Responsive */
@media (max-width: 900px) {
    .footer-container div {
        width: 100%;
        margin-bottom: 30px;
    }
}
